body{
    background-color:#000000;
    color: #F08080;
}
header,p,footer,nav
{
    text-align:center;
}
footer{
    clear:left;
    font-size:2em;
    color:green;
    text-align: center !important;
}
#fter img
{
    width:10%;
}
p
{
    /*text-align: center;*/
    /*color:#8B0000;*/
    color: #f88379 !important;
    font-size: 2em;
}
h1
{
    /*text-align:center;*/
    text-align:center;
    color:#008080 !important;
    
}
h2
{
    /*text-align: center;*/
    text-align:center;
    font-size: 2em;
    color:pink !important;
}
.pics
{
    text-align: center;
}
nav a {
    padding: 15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;
    color: #00CED1 !important;
    /*padding-right: 20%;*/
}
nav a:hover{
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}
.sSongs
{
   font-size: 3em; 
   color: #00FF7F!important;
}
.rSongs
{
    font-size: 3em;
    color: #00FA9A!important;
}
